#instaMediaKit {
    display: grid;
    grid-template-columns: 100vw 100vw;
    width: 100vw;
    height: 100vh;
    place-items: center;
}

#insta-link {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 6px;
    place-items: center;
}
#insta-link svg {
    height: 24px;
    width: 24px;
}
.mediakit-insta-pfp{
    border-radius: 16px;
    transition: transform .3s ease-out;
}

.insta-slider-btn, #insta-colabos-btn {
    background: rgba(0, 0, 0, 0.33);
    border: solid 2px rgba(255, 255, 255, .4);
    backdrop-filter: blur(10px);
    padding: 12px 36px;
    border-radius: 8px;
}

#insta-sec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 4fr 2fr;
}

#mediakit-insta-audiencia {
    grid-column: 1/3;
}

.mediakit-insta-collabs {
    grid-column: 1 / 3;
}
.mediakit-insta-collabs ul {
    text-align: left;
}
.mediakit-insta-collabs ul li {
    margin: 4px 0;
}


#insta-slider-back {
    grid-column: 1/3;
}


#insta-colabos-btn {
    margin-top: 0px;
    padding: 8px 36px;
}

.mediakit-insta-geo {
    display: grid;
    place-items: center;
    justify-items: start;
    gap: 0 12px;
    grid-template-columns: 1fr 1fr;
}


.glassy {
    background: rgba(255, 255, 255, .23);
    border: solid 2px rgba(255, 255, 255, .3);
    border-radius: 16px;
    padding: 6px 12px;
    width: 128px;
}
