.contact {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    display: grid;
    place-items: center;
}

.contact h1 {
    text-transform: uppercase;
}

.contact form {
    place-self: center;
    width: clamp(350px,90%,800px);
    height: clamp(500px,80%,800px);
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1.5fr;
    place-items: center;
}

.form-field {
    width: fit-content;
    height: fit-content;
    text-align: start;
    justify-self: center;
}
.form-field input{
    width: clamp(192px,70vw,384px);
    height: clamp(48px,5vh,96px);
    border: none;
    border-radius: 4px;
    margin-top: 4px;
    outline: none;

}

.form-field  ::placeholder{
    padding-left: 4px;
}

.form-field label {
    text-transform: uppercase;
    margin: 0  2px;
}

#contact-send {
    padding: 12px 48px;
    border: solid 2px rgba(255, 255, 255, .7);
    background: rgba(255, 255, 255, .4);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
}
